<nav class="navbar navbar-expand-lg navbar-light bg-fuyu mb-2">
    <div class="container">
        <a href="/" class="logo pr-2"><img src="/img/logo.png" alt="logo"></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="/list-project">List Project</a>
            <a class="nav-item nav-link active" href="#">About Us</a>
          </div>
        <form action="/" class="form-inline my-2 my-lg-0 justify-content-end">
          <% var ongoing, completed, droped; 
                if(query.f === '1'){
                    ongoing = 'selected';
                } if(query.f === '2') {
                    completed = 'selected' ;
                } if (query.f === '3') {
                    droped = 'selected';
                }
                %>
              <select id="_status" class="form-control br-0 _status" name="f">
                  <option value="0" title="No filter" selected="">No Filter</option>
                  <option value="1" title="Ongoing" <%= ongoing%>>Ongoing</option>
                  <option value="2" title="Completed" <%= completed%>>Completed</option>
                  <option value="3" title="Droped" <%= droped%>>Droped</option>
                </select>       
                <input type="text" class="form-control search-bar br-0 bl-0" name="q" placeholder="Search..." value="<%= query.q%>">
                <div class="input-group-btn search-btn">
                        <button class="btn btn-primary bl-0" type="submit">
                            <i class="fa fa-search fa-fw"></i>
                        </button>
                </div>
        </form>
        <ul class="nav navbar-nav navbar-right pl-1">
            <li class="nav-item dropdown">
                    <% if (loginStatus) { %>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= user[0].name%>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/add-post">Add Post</a>
                        <a class="dropdown-item" href="/add-episode">Add Episode</a>
                        <a class="dropdown-item" href="/profile">Profile</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                    <% } else{ %>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Guest
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/login">Login</a>  
                        <a class="dropdown-item" href="#">Register</a>
                    </div>
                    <% } %>
            </li>
        </ul>
        </div>
    </div>
      </nav>