<%- include('../header'); -%>
<%- include('../navbar'); -%>
   <div class="container">
       <h2 class="mt-4">Profile of <strong><%= user.name%></strong></h2>
       <div class="row">
           <div class="col-sm-2"><strong>User ID:</strong></div>
           <div class="col-sm-10"><%= user.id%></div>
       </div>
       <div class="row">
            <div class="col-sm-2"><strong>Email:</strong></div>
            <div class="col-sm-10"><%= user.email%></div>
        </div>
   </div>
<%- include('../footer'); -%>