<%- include('../header'); -%>
<%- include('../navbar'); -%>
<div class="container">
    <h1>Add New</h1>
    <% if (errors) { %>
     <% for(let error of errors ) { %>
    <div class="alert alert-danger"><%= error %></div>
     <% } %>
    <% } %>
    <form action="?_csrf=<%=csrfToken%>" method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="thumbnail">Thumbnail</label>
                    <input name="thumbnail" type="file" id="thumbnail" class="form-control-file">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                <label class="control-label" for="post_title">Post Name</label>
                <input class="form-control" id="post_title" name="post_title" placeholder="Post name" title="" type="text" value="">
            </div>
                </div>
            <div class="col-md-6">
                <div class="form-group">
                <label class="control-label" for="tags">Tags</label>
                <input class="form-control" id="tags" name="tags" placeholder="Tags name" title="" type="text" value="">
                 </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                    <label class="control-label" for="studios">Studios</label>
                    <input class="form-control" id="studios" name="studios" placeholder="Studios" title="" type="text" value="">
                    </div>
                </div>
                <div class="col-md-6">
			<label class="control-label">Flags</label><br>
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-secondary" title="Hidden Project">
					<input id="is_hidden" name="is_hidden" type="checkbox" value="y">
					<span class="glyphicon glyphicon-check"></span>
					<span class="glyphicon glyphicon-unchecked"></span>
					Hidden
				</label>
			</div>
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-success active" title="Ongoing Project">
					<input id="is_ongoing" name="is_ongoing" type="checkbox" value="y">
					<span class="glyphicon glyphicon-ok"></span>
					<span class="glyphicon glyphicon-unchecked"></span>
					Ongoing
				</label>
            </div>
            <div class="btn-group" data-toggle="buttons">
				<label class="btn btn-warning" title="Completed Project">
					<input id="is_completed" name="is_completed" type="checkbox" value="y">
					<span class="glyphicon glyphicon-check"></span>
					<span class="glyphicon glyphicon-unchecked"></span>
					Completed
				</label>
			</div>
		</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label" for="description">Description</label>
                    <div role="tabpanel" class="tab-pane active" id="description-tab" data-markdown-target="#description-markdown-target">
                        <textarea class="form-control markdown-source" id="description" name="description"></textarea>
                    </div>
                </div>
            </div>
        </div>        
        <button class="btn btn-primary">Add New</button>
    </form>
</div>


<%- include('../footer'); -%>