<table class="table table-bordered">
    <thead>
        <tr>
        <th style="width:80px;" class="text-center" scope="col">Category</th>
        <th scope="col">Name</th>
        <th class="fuyu-comments" title="Comments" style="width:50px;">
                <a href="#"></a>
                <i class="fas fa-comments"></i>
        </th>
        <th class="text-center" scope="col">Link</th>
        <th class="text-center" scope="col">Size</th>
        <th class="text-center" scope="col">Date</th>
        <th class="text-center" scope="col"><i class="fa fa-check" aria-hidden="true"></i></th>
        </tr>
    </thead>
    <tbody>
        <% for(let post of posts ) { %>
            <tr>
                <th class="text-center" scope="row"><%= post.category %></th>
                <td colspan="2"><a href="/view/<%= post.id%>"><%= post.post_title %></a></td>
                <td class="text-center" style="white-space: nowrap;">
                    <a href="/download/<%= post.link_hash%>"><i class="fa fa-fw fa-download"></i></a>
                </td>
                <td class="text-center"><%= post.file_size %></td>
                <td class="text-center"><%= post.date %></td>
                <td class="text-center"><%= post.count_download %></td>
            </tr>
        <% } %>
    </tbody>
</table>