<div class="container">
    <table class="table table-bordered mt-5">
        <thead>
            <tr>
            <th style="width:80px;" class="text-center" scope="col">Category</th>
            <th scope="col">Name</th>
            <th class="fuyu-comments" title="Comments" style="width:50px;">
                    <a href="#"></a>
                    <i class="fas fa-comments"></i>
            </th>
            <th class="text-center" scope="col">Link</th>
            <th class="text-center" scope="col">Size</th>
            <th class="text-center" scope="col">Date</th>
            <th class="text-center" scope="col"><i class="fa fa-check" aria-hidden="true"></i></th>
            </tr>
        </thead>
        <tbody>
            <% for (let post of posts ) { %>
            <% episodes = post.episodes %>
                <% for (let episode of episodes) {%>
                <tr class="_ongoing">
                    <th class="text-center" scope="row"><%= episode.category %></th>
                    <td colspan="2"><a href="/view/<%= post._id%>"><%= episode.fileName %></a></td>
                    <td class="text-center" style="white-space: nowrap;">
                        <a href="/download/<%= post._id%>/<%= episode.epNum%>"><i class="fa fa-fw fa-download"></i></a>
                    </td>
                    <td class="text-center"><%= episode.fileSize %></td>
                    <% date = moment(episode.date).format('YYYY-MM-DD HH:mm:ss') %>
                    <td class="text-center"><%= date %></td>
                    <td class="text-center"><%= episode.count %></td>
                </tr>
                <% } %>
            <% } %>
        </tbody>
    </table>
</div>