<%- include('../header'); -%>
<%- include('../navbar'); -%>
<div class="container">
   <div class="card mt-4">
     <div class="d-flex flex-column flex-lg-row p-3">
        <div class="content-left">
           <div class="thumbnail-box">
              <img src="/<%= post.thumbnail%>" alt="thumbnail" class="thumbnail-img">
           </div>
        </div>
        <div class="content-right">
           <div class="post-title">
              <h2><%= post.post_title%></h2>
           </div>
           <div class="row">
              <div class="col-md-1">Studios: </div>
              <div class="col-md-11"><%= post.studios%></div>
           </div>
           <div class="row">
               <div class="col-md-1">Tags: </div>
               <div class="col-md-11"><%= post.tags%></div>
            </div>
        </div>
     </div>
   </div>
   <div class="card mt-2">
      <div class="p-3">
         <%= post.description%>
      </div>
   </div>

   <table class="table table-striped mt-2">
         <tbody>
            <% const episodes = post.episodes; %>
            <% for(let episode of episodes ) { %>
            <tr>
            <th scope="row"><%= episode.epNum%></th>
            <td><%= episode.fileName%> <b>(<%= episode.fileSize%>)</b></td>
            <td><a href="/download/<%= post.postId%>/<%= episode.epNum%>">DL</a></td>
            </tr>
            <% } %>
         </tbody>
       </table>
</div>


<%- include('../footer'); -%>